<title><%- location %> | GENERITRON</title>

<!-- Bootstrap core CSS -->
<link href="/i/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/i/dashboard/css/dashboard.css" rel="stylesheet">