<title><%- location %> | GENERITRON</title>

<!-- Bootstrap core CSS -->
<link href="/i/css/bootstrap-4-alpha.min.css" rel="stylesheet">

<!-- Font Awesome -->
<link href="/i/css/font-awesome.min.css" rel="stylesheet">

<!-- Awesome Checkboxes -->
<link href="/i/css/awesome-bootstrap-checkbox-4-alpha.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/i/dashboard/css/dashboard.css" rel="stylesheet">